<div class="page_title">
  <h1>Crea tu Cuenta</h1>
</div>
<div class="section_full">
  <h2>Ingresa tus Datos Personales</h2>
  <p>
    <%= form_for @user do |f| %>
      <div>
        <%= f.label :name, "Nombre" %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
      <div>
        <%= f.submit "Unete" %>
      </div>
    <% end %>
  </p>
</div>
<div class="section_23">
  <p>
    <%= render partial: "shared/errors", locals: {obj: @user} %>
  </p>
</div>
