<%= render partial: "shared/errors", locals: {obj: @client} %>
<%= form_for @client do |f| %>
  <div>
    <%= f.label :full_name, "Nombre Completo" %>
    <%= f.text_field :full_name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :phone, "Telefono" %>
    <%= f.text_field :phone %>
  </div>
  <div>
    <%= f.label :birth_at, "Nacimiento" %>
    <%= f.datetime_select :birth_at %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
