<tr class="even">
  <td><%= link_to account.id, account %></td>
  <td><%= account.client.full_name %></td>
  <td><%= account.balance_decorado %></td>
  <td><%= account.currency %></td>
  <td><%= account.account_type %></td>
</tr>
