<div class="center_content">
  <h1>Cuenta Bancaria #<%= @account.id %></h2>
  <p>
    <strong>Cliente: </strong>
    <%= @account.client.full_name %>
  </p>
  <p>
    <strong>Balance: </strong>
    <%= @account.balance %>
  </p>
  <p>
    <strong>Currency: </strong>
    <%= @account.currency %>
  </p>
  <p>
    <strong>Tipo: </strong>
    <%= @account.account_type %>
  </p>
  <p>
    <strong>Tasa Interes: </strong>
    <%= @account.rate_decorado %>
  </p>
  <p>
    <strong>Tarjeta de debito asociada:</strong>
    <%= @account.debit_card.decorate %>
  </p>
  <%= link_to "Cuentas Bancarias", bank_accounts_path %>
  <%= link_to "Transacciones", bank_account_transactions_path(@account) %>
  <%= link_to "Depositar", new_bank_account_transaction_path(@account, label: "Deposito") %>
  <%= link_to "Retirar", new_bank_account_transaction_path(@account, label: "Retiro") %>
</div>
